  body {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  }

  .NavBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
  }
  .itemName {
    font-size: 20px;
    font-family: Latha, "Tamil MN", serif;
  }

  .home {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
  }

  .subHome {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
  }

  .imgHome {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .menuContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 50px;
  }

  .menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: calc(25% - 20px);*/
    margin: 10px;
    border: dotted 10px red;
    max-width: 60em;
    max-height: 40em;
    width: 100%;
    padding: 10px;
  }

  .menuCard img {
    width: 55%;
    text-align: center;
  }
  .menuName {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
  }

  .menuPrice {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
  }

  .menuCategory {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
  }

  .menuSpiceLevel {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
  }

  .address {
    font-size: 20px;
    text-align: center;
  }
